 
span {
  color: #febe01;
}
h1 {
  color: black;
  font-family:Arial;
}
h2 {
  color: white;
  font-family:Arial;
}
p {
  color: white;
  font-family:Arial;
}
div {
  background: black;
  width: 250px;
  height: auto;
  padding: 30px;
  border-radius: 4px;
  text-align: center;
  font-family:Arial;
}
button{
    color: #332200;
    background-color: #febe01;
    width: 120px;
    height: auto;
    padding: 10px;
    font-family:Arial;
}
p    {
	font-family:Arial;
	}
</style>